<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodeWalletWidget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CodeWalletWidgetApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C956DFAC215A9253005F1822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C956DFC0215A9255005F1822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C956DFCB215A9255005F1822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C96B7C482166464500F9B67F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9991AD8217DA55A004CD0BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9F014ED2180F04200EF2F5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
